{% extends 'base.html.twig' %}

{% block title %}{% trans %}SDBM SYMFONY - Accueil {% endtrans %}{% endblock %}

{% block body %}
<!-- Intégration de Bootstrap 5 -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 animate__animated animate__fadeIn">{% trans %}Bienvenue sur SDBM SYMFONY !{% endtrans %}</h1>
        <p class="lead mt-3 animate__animated animate__fadeIn animate__delay-1s">{% trans %}Ce projet vise à créer une base de données vide, à la migrer avec une base de données existante, et à gérer les enregistrements avec des fonctionnalités CRUD.{% endtrans %}</p>
    </div>
    
    <div class="row mt-5 text-center">
        <div class="col-md-4 animate__animated animate__fadeInUp">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% trans %}Ajouter des données {% endtrans %}</h5>
                    <p class="card-text">{% trans %}Commencez à ajouter de nouvelles données à votre base de données.{% endtrans %}</p>
                   
                </div>
            </div>
        </div>
        <div class="col-md-4 animate__animated animate__fadeInUp animate__delay-1s">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% trans %}Modifier des données{% endtrans %}</h5>
                    <p class="card-text">{% trans %}Modifiez les enregistrements existants dans votre base de données.{% endtrans %}</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 animate__animated animate__fadeInUp animate__delay-2s">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% trans %}Supprimer des données{% endtrans %}</h5>
                    <p class="card-text">{% trans %}Supprimez les enregistrements inutiles de votre base de données.{% endtrans %}</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Intégration des animations de Animate.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
{% endblock %}