{% extends 'base.html.twig' %}

{% block title %}Edit Marque{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Edit Marque</h1>

    {{ include('marque/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="btn-container mt-3">
        <a href="{{ path('app_marque_index') }}" class="btn btn-secondary bi bi-backspace-fill">Back to list</a>
        {{ include('marque/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}